@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon+Milk&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navegation {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f3f3f3;
}

.navegation a {
  text-decoration: none;
  color: black;
}

.logo-container {
  background-color: #ffff;
}

.nav-container {
  display: flex;
}
/*estilos para la barra de busqueda */
.searchbar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.searchbar input {
  width: 100%;
  height: 55px;
  border: none;
  background-color: rgb(223, 220, 220);
  border-radius: 5px;
  padding: 5px 30px;
  font-size: 16px;
  color: #495057;
}
.searchbar-container {
  display: flex;
  width: 100%;
  background-color: rgb(223, 220, 220);
  border-radius: 5px;
}

.nav-logo {
  width: 80%;
  height: 100%;
}

.user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.carrito img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.envio img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.btn-container {
  align-items: center;
  display: flex;
}

.moneda,
.user,
.envio,
.carrito {
  margin: 19px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
}

.imagesearch {
  background-color: rgb(223, 220, 220);
  border-radius: 5px;
  height: 40px;
  display: flex;
}

.menu-desplegable {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.div-correo {
  width: 300px;
  height: 40px;
  background-color: #f2f2f2;
  border-color: #ccc;
}

.div-contraseña {
  width: 300px;
  height: 40px;
  background-color: #fafafa;
  border-color: #ddd;
}

.linea-vertical {
  height: 100%;
  width: 1px;
  background-color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ventaja1 {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border: none;
}

.ventaja2 {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border: none;
}

.titulo-ventaja1 {
  font-weight: bold;
  margin-bottom: 5px;
}
.descripcion-ventaja1 {
  font-style: arial;
}

.titulo-ventaja2 {
  font-weight: bold;
  margin-bottom: 5px;
}
.descripcion-ventaja2 {
  font-style: arial;
}

.contenedor-ventaja {
  float: right;
}
.gestion img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.deseos img {
  width: 80px;
  height: 80px;
}

  footer {
    background-color: #000;
  }
  
  .footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
  }

  .footerNav {
    margin: 30px 0;
  }
  .footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  .footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  }
  .footerNav ul li a:hover {
    opacity: 1;
  }

  .footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
  }

  .footerBottom p {
    color: white;
  }

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
